<%= link_to 'New Staff', new_admin_staff_path if policy(Staff).create? %>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @staffs.each do |staff| %>
    <tr>
      <td><%= staff.name %></td>
      <td>
        <%= link_to 'Edit', edit_admin_staff_path(staff) if policy(Staff).update? %>
        <%= link_to 'Delete', admin_staff_path(staff), method: :delete if policy(Staff).destroy? %>
      </td>
    </tr>
  <% end %>
</table>
